@model webSchool.Models.School

@{
    ViewData["Title"] = "Details";
}


<div style="height:300px; width:500px;" id="map" latitude=@Model.latitude longitude=@Model.longitude> </div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<h1>Детали за училиштето</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назив
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.imageUrl" />
        </dd>
        <dt class = "col-sm-2">
            Град
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            Улица
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.street)
        </dd>
        <dt class = "col-sm-2">
            Смер/Насока
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modules)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.userRole == "Admin")
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Измени | </a> 
        <a asp-action="Delete" asp-route-id="@Model.Id">Избриши | </a> 
    }
    <a asp-action="Index">Назад кон листата</a>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var lat = parseFloat($("#map").attr('latitude'));
        var lon = parseFloat($("#map").attr('longitude'));
        console.log(lat+" "+lon);
        var map = L.map('map').setView([lat, lon], 13);
        var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);
        var marker = L.marker([lat, lon]).addTo(map);
    });
</script>