@model webSchool.Models.School

@{
    ViewData["Title"] = "Delete";
}


<h3 style="color:white;">Дали сте сигурни дека сакате да го избришете @Html.DisplayFor(x => x.name) училиштето?</h3>
<div>
    <hr />
    <!-- <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teachers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teachers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numOfStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numOfStudents)
        </dd> 
    </dl> -->
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Избриши" class="btn btn-danger" /> 
        <a class="btn btn-light" asp-action="Index">Назад кон листата</a>
    </form>
</div>
